@import "tailwindcss";
@plugin "daisyui";

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 15s linear infinite;
  animation-fill-mode: forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease forwards;
}

/* Remove default password eye in Edge/IE */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Remove default password eye in some other browsers */
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
